@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MVC_Data.Models.PersonLanguage>

@{
    ViewData["Title"] = "AddPersonToLanguage";
}

<h1>Add Person To Language</h1>

<form asp-action="AddPersonToLanguage" method="post">
    <div class="form-group">
        <select name="personName" class="form-control" asp-items="ViewBag.People"></select>
    </div>
    <div class="form-group">
        <select name="languageName" class="form-control" asp-items="ViewBag.Languages"></select>
    </div>
    <input type="submit" value="Add person to language" class="btn btn-primary"/>
</form>
