@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
    <div class="topnav">
        <a class="active">JP's Database</a>
        <partial name=_LoginPartial />

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="People" asp-action="Index">People</a>

        }
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="City" asp-action="Cities">Cities</a>
            <a asp-controller="Country" asp-action="Countries">Countries</a>
            <a asp-controller="Language" asp-action="Languages">Languages</a>
            <a asp-controller="PeopleLanguage" asp-action="AddPersonToLanguage">Add Person To Language</a>
            <a asp-controller="Role" asp-action="Index">Role manager</a>
        }
    </div>


    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required:false)
</body>

</html>