@model IEnumerable<MVC_Data.Models.City>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Cities";
}

<h1>Cities</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create City</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Name)</th>
            <th>Edit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td><a asp-action="Edit" asp-route-Name="@item.Name">Edit</a></td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Remove" asp-route-Name="@item.Name">Remove</a>

                }
            </td>
        </tr>
}
    </tbody>
</table>
