@model MVC_Data.Models.Person



<div class="row" style="border: 1px solid black;">
        <div class="col-md-8">@Model.Name</div>
        <div class="col-md-6">@Model.City</div>
        <div class="col-md-4">@Model.PhoneNumber</div>
        <div class="col-md-2">@Model.PhoneNumber</div>
</div>








